.footer {
  padding: 50px 0;
  background-color: #fde4e4;

  &__logo {
    img {
      width: calc(100% - 80%);
      margin-bottom: 5px;
    }

    h2 {
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 15px;
    }

    p {
      font-size: 0.9rem;
      color: #333;
      line-height: 28px;
    }
  }

  .footer__title {
    font-weight: 600;
    font-size: 1.1rem;
    color: #212245;
  }

  .delivery__time-item {
    color: #212245;
    background-color: transparent;

    span {
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid #212245;
    border-radius: 5px;
    cursor: pointer;

    input {
      background: transparent;
      border: none;
      outline: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #212245;
      }
    }

    span {
      padding: 5px 30px;
      background: #df2020;
      border-radius: 5px;

      i {
        color: #fff;
      }
    }
  }

  .social__links {
    span i {
      padding: 5px;
      color: #fff;
      background: #df2020;
      border-radius: 50%;
    }
  }

  .copyright__text {
    font-size: 0.8rem;
    color: #df2020;
  }
}
