.feature {
  text-align: center;

  &__subtitle {
    color: #df2020;
  }

  &__title span {
    color: #df2020;
  }

  &__text {
    color: #777;
  }

  &__item p {
    color: #777;
  }
}

.product {
  .food__category {
    margin-top: 30px;
    padding: 20px 0px;
    background: #df2020;
    border-radius: 8px;
    text-align: center;

    button {
      border: none;
      outline: none;
      padding: 7px 20px;
      background: transparent;
      color: #fff;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .foodBtnActive {
      background: #fff !important;
      border-radius: 5px;
      color: #df2020 !important;
    }
  }
}

.why__choose-us {
  .tasty__treat-title span {
    color: #df2020;
  }

  .tasty__treat-desc {
    color: #777;
    line-height: 28px;
  }

  .choose__us-title {
    font-weight: 600;
    margin-bottom: 10px;

    i {
      font-weight: 500 !important;
      color: #df2020;
    }
  }

  .choose__us-desc {
    color: #777;
  }
}

.testimonial {
  &__subtitle {
    color: #df2020;
  }

  &__title {
    span {
      color: #df2020;
    }
  }

  &__desc {
    color: #777;
    line-height: 30px;
  }
}

.addTOCart__btn {
  padding: 7px 25px;
  font-size: 0.9rem;
  color: #fff;
  background: #df2020;
  border-radius: 5px;
  border: none;
}

@media only screen and (max-width: 768px) {
  .hero {
    &__content {
      h5 {
        font-size: 1rem;
      }

      p {
        font-size: 0.8rem;
        line-height: 25px;
      }

      .hero__service {
        p {
          font-size: 0.7rem !important;
        }

        h5 {
          font-size: 0.9rem;
        }
      }
    }

    &__title {
      font-size: 1.5rem;
      line-height: 40px;
    }
  }

  .feature {
    text-align: center;

    &__subtitle {
      font-size: 1rem;
    }

    &__title span {
      color: #df2020;
    }

    &__text {
      font-size: 0.8rem;
      margin-bottom: 0;
    }

    &__item {
      h5 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.8rem;
        margin-bottom: 0;
      }
    }
  }

  .product {
    .food__category {
      padding: 15px;
    }
  }

  .why__choose-us {
    .tasty__treat-desc {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
    .choose__us-title {
      font-size: 0.8rem;
    }

    .choose__us-desc {
      font-size: 0.7rem;
    }
  }

  .testimonial {
    &__subtitle {
      font-size: 1rem;
    }

    &__desc {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  .hero {
    &__content {
      text-align: center;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 40px;
    }

    .hero__btns {
      justify-content: center;
    }

    .hero__service {
      justify-content: center;
    }
  }

  .why__choose-us {
    padding-top: 0 !important;
  }

  .product {
    .food__category {
      flex-direction: column;
    }
  }
}
