.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.639);
  z-index: 99999;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #fff;
  z-index: 999999;

  &__close {
    width: 100%;
    height: 60px;

    padding: 10px 20px;

    span i {
      padding: 5px;
      font-size: 1.1rem;
      color: #fff;
      background: #212245;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__item-list {
    height: calc(100vh - 140px);
    overflow-y: scroll;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 20px;
    width: 100%;
    height: 80px;
    background: #df2020;

    h6 {
      font-size: 1rem;
      color: #fff;

      span {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }

    button {
      border: none;
      padding: 4px 20px;
      border-radius: 5px;
      background: #fff;
      color: #212245;

      a {
        color: #212245;
        font-weight: 600;
      }
    }
  }
}
